@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300;400&display=swap");

:root {
  --clr-default-font: rgb(59, 59, 59);
  --clr-header-font: rgba(37, 37, 37);
  --clr-header-shadow: 37, 37, 37;
  --section-min-height: 600px;
}

body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  color: var(--clr-default-font);
}

p {
  max-width: 75ch;
}

h1,
h2 {
  font-family: Oswald, sans-serif;
}

.h1 {
}

.logo {
  letter-spacing: 4px;
  color: var(--clr-header-font);
  font-size: 2em;
  font-weight: 700;
  text-shadow: 1px 1px rgba(var(--clr-header-shadow), 0.5);
  margin-left: 1.5em;
}

.header {
  display: flex;
  padding: 1em;
}

.nav-div {
  display: flex;
  flex: 1;
  justify-content: end;
  align-items: center;
}

.nav-ul {
  display: flex;
  gap: 1em;
  margin-right: 2em;
}

.nav-link,
a {
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  color: var(--clr-header-font);
  padding-bottom: 0.125em;
  padding-inline: 0.5em;
}

.nav-link:hover {
  border-bottom: 2px solid currentColor;
  border-radius: 5px;
}

.current-page {
  border-bottom: 2px solid currentColor;
}

.section-hero,
.hero-wrapper {
  min-height: var(--section-min-height);
  width: 100%;
  position: relative;
}

.section-hero {
  background: url("../images/hero-image.webp") no-repeat center center;
  animation-name: hero-zoom;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.hero-wrapper {
  overflow: hidden;
}

@keyframes hero-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.cover-text {
  color: white;
  font-size: 130%;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 300px;
  min-height: 200px;
  padding-top: 40px;
  padding-left: 10px;
  background-color: rgba(241, 109, 107, 0.7);
  position: absolute;
  bottom: 50px;
  right: 150px;
}

.club-ethos {
}

.section-club-ethos {
  width: 85%;
  margin-inline: auto;
}

.grid {
  min-height: var(--section-min-height);
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  align-items: center;
}

.about-p {
  margin-bottom: 50px;
  max-width: 50ch;
}

hr {
  width: 50%;
  border-top: 1px solid currentColor;
  margin-block: 5px;
}

.right-text-align {
  margin-left: auto;
  text-align: right;
}

.right-about hr {
    margin-left: auto;
}



.circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin-inline: auto;
}

.circle-cover-bg {
    height: 100%;
    border-radius: 50%;
}

.circle-cover-bg .img {
    border-radius: 50%;
}