@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300;400&display=swap");

:root {
  --clr-default-font: rgb(59, 59, 59);
  --clr-header-font: rgba(37, 37, 37);
  --clr-100: #fafafa;
  --clr-header-shadow: 241, 109, 107, 0.7;
  --section-min-height: 600px;
  --wrapper-min-width: 100% - 2rem;
  --wrapper-max-width: 70rem;
  --default-letter-spacing: 4px;
}

body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  color: var(--clr-default-font);
}

.content-wrapper {
  width: min(var(--wrapper-min-width), var(--wrapper-max-width));
  margin-inline: auto;
}

p {
  max-width: 75ch;
}

h1,
h2 {
  font-family: Oswald, sans-serif;
}
.h1 {
  font-size: 3em;
  font-weight: 700;
}

.h2 {
  font-size: 2em;
  font-weight: 600;
}

.h3 {
  font-size: 1.5em;
  font: 500;
}

.logo {
  letter-spacing: var(--default-letter-spacing);
  color: var(--clr-header-font);
  font-size: 2em;
  font-weight: 700;
  margin-left: 1.5em;
}

.header {
  display: flex;
  padding: 1em;
  gap: 0.5em;
}

.nav-div {
  display: flex;
  flex: 1;
  justify-content: end;
  align-items: center;
}

.nav-ul {
  display: flex;
  gap: 1em;
  margin-right: 2em;
  flex-wrap: wrap;
}

.nav-link,
a {
  text-transform: uppercase;
  letter-spacing: var(--default-letter-spacing);
  text-decoration: none;
  color: var(--clr-header-font);
  position: relative;
  padding-bottom: 0.5em;
}

.nav-link:focus {
  outline: none;
}

.nav-link:focus::after,
.nav-link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 5px;
  width: 100%;
  background-color: rgba(var(--clr-header-shadow));
  border-radius: 100vmax;
}

.current-page {
  border-bottom: 2px solid currentColor;
}

.section-hero,
.hero-wrapper {
  min-height: var(--section-min-height);
  width: 100%;
  position: relative;
}

.section-hero {
  background: url("../images/hero-image.webp") no-repeat center center;
  animation-name: hero-zoom;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.hero-wrapper {
  overflow: hidden;
}

@keyframes hero-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.cover-text {
  color: white;
  font-size: 130%;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: var(--default-letter-spacing);
  width: 300px;
  min-height: 200px;
  padding-top: 40px;
  padding-left: 10px;
  background-color: rgba(var(--clr-header-shadow));
  position: absolute;
  bottom: 50px;
  right: 150px;
}

.text-shadow {
  text-shadow: 0.5px 0px rgba(var(--clr-header-shadow));
}

.h2-club-ethos {
  margin-block: 1em;
  text-align: center;
  font-size: 3em;
}
.grid {
  min-height: var(--section-min-height);
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  align-items: center;
}

.about-p {
  margin-bottom: 50px;
  max-width: 50ch;
}

hr {
  width: 75%;
  border-top: 1px solid currentColor;
  margin-block: 5px;
}

.right-text-align {
  margin-left: auto;
  text-align: right;
}

.right-about hr {
  margin-left: auto;
}

.circle-container {
  width: 300px;
  height: 300px;
  padding: 30px;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  border-radius: 50%;
  margin-inline: auto;
}

.circle-cover-bg {
  height: 100%;
  border-radius: 50%;
}

.circle-cover-bg .img {
  border-radius: 50%;
}

.card {
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  min-height: 16rem;
  color: var(--clr-100);
  border-radius: 1em;
  background: url("../images/dublin-city.webp");
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: soft-light;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.card-wrapper {
  width: calc(100% - 1.5rem);
  margin-inline: auto;
}

[class*="fa"] {
  margin-left: 0.5em;
}

.run-style {
  font-size: 1.6em;
  text-transform: uppercase;
  letter-spacing: var(--default-letter-spacing);
}

::selection {
  background-color: rgba(var(--clr-header-shadow));
}

.footer {
  padding-block: 2em;
  margin-bottom: 4em;
}

.footer-ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 4em;
  justify-content: center;
}

.footer-link {
  display: flex;
  justify-content: center;
}

.footer-social-meida-icons {
  font-size: 3em;
}

.footer-social-meida-icons:hover {
  color: rgba(var(--clr-header-shadow));
}

.gallery-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 0.5em;
}

.gallery-card {
  position: relative;
}

.gallery-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  mix-blend-mode: darken;
}

.gallery-img {
  height: 100%;
  width: 100%;
}

.sign-up-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    'header-sign-up'
    'main-sign-up'
    'footer-sign-up';
}


.sign-up-grid {
  display: grid;
  align-items: center;
}

.bg-image-grid-main {
    height: 100%;
    grid-area: main-sign-up;
    background-image: url("../images/formbg.jpg");
    background-size: cover;
}


.legend {
  margin-inline: 2em;
  padding-inline: 1em;
}


.fieldset {
  position: relative;
  width: 40%;
  margin-inline: 10% auto;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--clr-100);
}

.form-h2 {
  padding-inline: 1em;
  margin-inline: auto;
}

.fieldset * {
  display: block;

}


.form  * {
  margin-block: 0.5em;
}

.form {
  accent-color: rgba(var(--clr-header-shadow));
}

.label {
  font-size: 1.125rem;
}
.input-sign-up {
  width: 100%;
}

.input-sign-up:focus-visible,   
.input-sign-up:active {
  background-color: rgba(var(--clr-header-shadow));
   outline-color:rgba(var(--clr-header-shadow));
   font-weight: 700;
}



.form-content-wrapper {
  width: 80%;
  margin-inline: auto;
}

.radio-flex {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.btn {
  --btn-height:100px;
  --btn-width: var(--btn-height);
  background-color: rgba(var(--clr-header-shadow));
border-radius: 100vmax;
  padding: 0.5em 1em;
  color: var(--clr-100);
  font-size: 1rem;
  text-transform: uppercase;
}

.btn:hover {
  cursor: pointer;
}

@media (max-width: 500px) {
  .cover-text {
    display: block;
    position: relative;
    inset: 0;
    margin: auto;
  }

  .h1 {
    font-size: 3em;
    margin-left: 0;
  }

  .h2-club-ethos {
    padding-bottom: 1em;
  }

  .header {
    gap: 1em;
  }

  .radio-flex {
    gap: 0.5em;
  }
}
